@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --blue: #3498db;
    --dark-blue: #2980b9;
    --red: #e74c3c;
    --dark-red: #c0392b;
    --black: #333;
    --white: #fff;
    --light-bg: #eee;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--blue);
}

.btn,
.delete-btn {
    width: 100%;
    border-radius: 5px;
    padding: 10px 30px;
    color: var(--white);
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}

.btn {
    background-image: linear-gradient(to right, #6190E8, #A7BFE8);
}

.btn:hover {
    background-color: var(--dark-blue);
}

.delete-btn {
    /* background-image: linear-gradient(to right, #C193C5, #7BC6CC); */
    background-color: var(--red);
}

.delete-btn:hover {
    background-color: var(--dark-red);
}

.message {
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: var(--red);
    color: var(--white);
    font-size: 20px;
}

.form-container {
    min-height: 100vh;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-container form {
    padding: 20px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 500px;
    border-radius: 5px;
}

.form-container form h3 {
    margin-bottom: 10px;
    font-size: 30px;
    color: var(--black);
    text-transform: uppercase;
}

.form-container form .box {
    width: 100%;
    border-radius: 5px;
    padding: 12px 14px;
    font-size: 18px;
    color: var(--black);
    margin: 10px 0;
    background-color: var(--light-bg);
}

.form-container form p {
    margin-top: 15px;
    font-size: 20px;
    color: var(--black);
}

.form-container form p a {
    color: var(--red);
}

.form-container form p a:hover {
    text-decoration: underline;
}

.container {
    min-height: 100vh;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container .profile {
    padding: 20px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 400px;
    border-radius: 5px;
}

.container .profile img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.container .profile h3 {
    margin: 5px 0;
    font-size: 20px;
    color: var(--black);
}

.container .profile p {
    margin-top: 20px;
    color: var(--black);
    font-size: 20px;
}

.container .profile p a {
    color: var(--red);
}

.container .profile p a:hover {
    text-decoration: underline;
}

.update-profile {
    min-height: 100vh;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.update-profile form {
    padding: 20px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 700px;
    text-align: center;
    border-radius: 5px;
}

.update-profile form img {
    height: 200px;
    width: 200p;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.update-profile form .flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px;
}

.update-profile form .flex .inputBox {
    width: 49%;
}

.update-profile form .flex .inputBox span {
    text-align: left;
    display: block;
    margin-top: 15px;
    font-size: 17px;
    color: var(--black);
}

.update-profile form .flex .inputBox .box {
    width: 100%;
    border-radius: 5px;
    background-color: var(--light-bg);
    padding: 12px 14px;
    font-size: 17px;
    color: var(--black);
    margin-top: 10px;
}

@media (max-width:650px) {
    .update-profile form .flex {
        flex-wrap: wrap;
        gap: 0;
    }

    .update-profile form .flex .inputBox {
        width: 100%;
    }
}

.baca {
    width: 50%;
    margin-top: 10px;
    background-color: #0eb582;
    border-radius: 10px;
    padding: 10px;
}

.baca a {
    color: #fff;
}

.baca:hover {
    background-color: salmon;
    color: #fff;
}

.header1 span {
    color: #0eb582;
}

.header1 {
    background-color: #fff;
    padding: 15px;
    width: 100%;
    position: fixed;
}

.footer {
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    width: 100%;
    bottom: 1rem;
    padding: 15px;
    background-color: #fff;
    text-align: center;
}

.footer small {
    font-size: 20px;
}

/* membuat animasi text pada footer */

.anim-text {
    background-image: linear-gradient(90deg, #6190E8, #A7BFE8, #C193C5, #7BC6CC);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    animation: animate 5s infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 300% 0;
    }
}

/* animasi selesai */

/* bagian popup-img */

.popup-img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    background-color: rgba(0, 0, 0, .8);
}

.popup-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.popup-img span {
    position: absolute;
    right: 2rem;
    font-size: 60px;
    color: salmon;
    font-weight: 900;
    cursor: pointer;
}

/* bagian responsive popup */
@media (max-width:768px) {
    .popup-img img {
        width: 90%;
    }
}

/* popup-img selesai */